body{
    background-color:#FBD46D;
    margin:0;
}
.header-container{
    margin-top: 20px;
    display: flex;
    height:72px;
    align-items:center;
    justify-content: space-between;

}
.head-left{
    display: flex;
    align-items: center;
}
.head-right{
    margin-right: 13px; 
}
#about{
    font-family: 'Montserrat', sans-serif;
}
.title-name{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
    letter-spacing: 5px;
    margin: 0px 7px;
}
.mylogo{
    margin-right: 0px;
    height: 100px;
    
}
.main-box{
    display: flex;
    height:300px;
    align-items:center;
    margin-top: 10%;
    margin-left:10%;
}
.left{
    display: flex;
    align-items: center;
    
}
.right{
    display: flex;
text-align: center;
align-items: center;
padding:10%;
}
.quote{
    font-family: 'Abril Fatface', cursive;
}
.donate{
    font-family: 'Montserrat', sans-serif;
}
.tag-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.btndiv{
    height: 80px;
    width: 240px;
    background-color:#4F8A8B;
    border-radius: 10px;
    margin-left: 25%;
    padding: 10px;
}
.btndiv > a{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:#EEEEEE;
    text-decoration: none;
    margin-top: 5px;
}

@media screen and (max-width:300px)
{
.mylogo{
    height:40px;
}
  }